<div class="container__big-card">
    <a href="">
        <div class="big-card__photo">
            <img src="https://sm.ign.com/ign_br/news/p/psa-god-of/psa-god-of-war-ragnarok-spoilers-have-begun-to-leak_vw8s.jpg" 
            alt="placeholder"
            height="265px"
            >
        </div>
    
        <div class="big-card__title">
            <h1>Prêmio de Pai do Ano</h1>
        </div>
        <div class="big-card__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada nunc justo, et scelerisque tellus interdum a. Maecenas dapibus ultrices lectus ut pellentesque.</p>
        </div>
    </a>
    
</div>